html {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

body {
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    color:#24292e;
    line-height:1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    word-wrap:break-word;
    max-width: 720px;
    margin: 0 auto 3rem auto;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 4px;
}

p {
  margin-top: 4px;
}

a {
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  color: #0D5BD1;
  display: inline-block;
  margin-right: 8px;
}

a:hover {
  text-decoration: underline;
}
